@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lilita One", cursive;
}

ul {
  list-style-type: desc;
  margin-left: 2em;
}

.google-login {
  background-image: linear-gradient(
    45deg,
    #4285f4 0% 33%,
    #34a853 33% 66%,
    #fbbc05 66% 100%
  );
}
